@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --color-primary: #6f6af8;
    --color-white: #fff;
    --color-red: rgb(255,0,0);
    --color-gray-100: hsl(220, 20%, 10%, 5%);
    --color-gray-200: hsl(220, 20%, 10%, 10%);
    --color-gray-300: hsl(220, 20%, 10%, 25%);
    --color-gray-500: hsl(220, 20%, 10%, 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    --color-bg: hwb(240 92% 5%);

    --transition: all 300ms ease;

    --container-width-lg: 84%;
    --container-width-md: 92%;
    --form-width: 50%;

    --radius-1: 0.3rem;
    --radius-2: 0.6rem;
    --radius-3: 1rem;
    --radius-4: 2rem;
}

*{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    box-sizing: border-box;
}


a{
    color : var(--color-gray-700);
    text-decoration: none;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-gray-900);
    line-height: 1.1;
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.3rem;
    line-height: 1.25;
}

h4{
    font-size: 1.1rem;
}

h5{
    font-size: 0.9rem;
}

body{
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    font-size: 0.9rem;
    line-height: 1.6;
    color: var(--color-gray-700)
}

section{
    margin-top: 6rem;
}

.container{
    width: var(--container-width-lg);
    margin-inline: auto;
}

.btn{
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: var(--radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}

.btn.primary{
    background: var(--color-primary);
    color: var(--color-white);
}

.btn.category{
    background: var(--color-bg);
    color: var(--color-primary);
    font-size: 0.75rem;
    font-weight: 400;
}

.btn.sm{
    font-size: 0.8rem;
    padding: 0.3rem 0.7rem;
    font-weight: 400;
}

.btn.danger{
    background: var(--color-red);
    color: var(--color-white);
}

.btn:hover{
    background: var(--color-gray-900);
    color: var(--color-white);
}

/*=============================NavBar =============================*/

nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 4px solid var(--color-bg);
    backdrop-filter: blur(20px);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav__logo{
    margin-top: 1rem;
    width: 3rem;
    display: block;
}

.nav__menu{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav__toggle-btn{
    display: none;
}

/*============================= FOOTER  =============================*/

footer{
    background: var(--color-gray-900);
    margin-top: 6rem;
    padding-top: 6rem;
}

.footer__categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 4rem;
}

.footer__categories a{
    background: var(--color-gray-700);
    color: var(--color-white);
    padding: 0.6rem 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
}

.footer__categories a:hover{
    background: var(--color-white);
    color: var(--color-gray-900);
}

.footer__copyright{
    text-align: center;
    border-top: 2px solid var(--color-gray-700);
    padding: 1rem;
    color: var(--color-white);
    font-weight: 300;
}

.center{
    text-align: center;
    padding-top: 5rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}
.error-page h2{
    /* margin-inline: auto; */
    margin-bottom: 3rem;
}

.error__img{
    width: 40rem;
    height: 30rem;
    margin-bottom: 3rem;
}


/*============================= Home  =============================*/

/*============================= Posts  =============================*/
.posts__container, .author-posts__container, .category-posts__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; /* Adjust the gap between cards */
}

.post {
    background: var(--color-white);
    padding: 0.75rem;
    border-radius: var(--radius-3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a box shadow for a card effect */
    transition: var(--transition);
    display: flex; /* Ensure contents are aligned */
    flex-direction: column; /* Stack contents vertically */
}

.post img {
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: auto; /* Maintain aspect ratio */
    border-radius: var(--radius-3);
    object-fit: cover;
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post__thumbnail{
    overflow: hidden;
}

.post__content{
    margin: 1rem;
}

.post__content h3{
    margin: 0.5rem 0 0.3rem;
}

.post__footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
}

.post__author{
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
}

.post__author-avatar {
    width: 2.5rem;
    height: 2.5rem; /* Set a fixed height */
    display: flex;
    border-radius: 50%; /* Make it a circle */
    overflow: hidden;
}



/*============================= Post Detailes  =============================*/

.post-detail{
    width: var(--form-width);
    background: var(--color-white);
    margin-inline: auto;
    padding: 2rem 0;
    border-radius: var(--radius-2);
}



.post-detail__thumbnail img {
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: var(--radius-2);
    object-fit: cover;
    margin: 1rem 0;
}

.post-detail__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.post-detail_buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.post-detail{
    margin-bottom: 0.7rem;
}

/*============================= Register Form  =============================*/

.form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

input, select, textarea{
    width: 100%;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    resize: none;
}

.form__error-message{
    background: var(--color-red);
    color: var(--color-white);
    font-size: 0.8rem;
    padding: 0.6rem 1rem;
    border-radius: var(--radius-1);
    display: block;
    margin-bottom: 1rem;
}

.register, .login, .create-post{
    width: var(--form-width);
    margin-inline: auto;
    height: calc(100vh - 12rem);
    display: grid;
    place-items: center;
}

.register h2, .login h2, .create-post h2{
    margin-bottom: 2rem;
}

.register small, .login small{
    display: block;
    margin-top: 1.5rem;
}

.register small a, .login small a{
    color: var(--color-primary);
}

/* Cusstom style fro react quill */
.ql-editor{
    overflow: scroll;
    background: var(--color-white);
    height: 10rem !important;
}

/*============================= Authors Pages =============================*/

.authors__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.author{
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 1rem;
    transition: var(--transition);
}

.author:hover{
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.7);
}

.author__avatar{
    width: 2.5rem;
    height: 2.5rem; /* Set a fixed height */
    display: flex;
    border-radius: 50%; /* Make it a circle */
    overflow: hidden;
}


/* ===================== user Prfile ================== */
/* .profile{
    margin-top: 10rem;
} */
.profile__container{
    display: grid;
    place-items: center;
    text-align: center;
}

.avatar__wrapper{
    width: 15rem;
    position: relative;
    margin-inline: auto;
    margin-top: 1rem;
}

.profile__avatar img{
    height: 100%;
    border-radius: 50%;
    border: 12px solid white;
    overflow: hidden;
}

.avatar__form{
    height: 1rem;
}

.avatar__form input{
    visibility: hidden;
}

.avatar__form label, .profile__avatar-btn{
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 1.2rem;
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    width: 2.3rem;
    height: 2.3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}

.profile__avatar-btn{
    cursor: pointer;
    padding: 0;
 
    background: var(--color-primary);
}

.profile__details h1{
    margin-top: 1.5rem;
}

.form.profile__from{
    margin-top: 3rem;
    margin-inline: auto;
    width: var(--form-width);
}


/* ===================== Dashboard ================== */

.dashboard__container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem
}

.dashboard__post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background: var(--color-white);
    padding: 0.5rem 1.2rem;
    border-radius: var(--radius-3);
}

.dashboard__post-info{
    display: flex;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.dashboard__post-thumbnail{
    width: 4rem;
    border-radius: var(--radius-1);
    overflow: hidden;
}
.dashboard__post-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dashboard__post-actions{
    display: flex;
    gap: 1rem;
}
/* ======================= LOADER ========================*/

.loader{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.loader__image{
    width: 4.5rem;
    aspect-ratio: 1/1;
}


/* ===================== Media Queries(small devics) ================== */

@media screen and (max-width : 800px) {
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.2rem;
    }

    .container{
        width: var(--container-width-md);
    }

    /* Navbar */
    .nav__container{
        position: relative;
    }

    .nav__menu{
        position: absolute;
        top: 5rem;
        right: 0;
        flex-direction: column;
        gap: 0;
    }

    .nav__menu li{
        width: 100%;
        box-shadow: -2rem 4rem 4rem rgba(0, 0, 0, 0.26);
        animation: dropDown 500ms ease forwards;
        opacity: 0;
        transform: rotateX(90);
        transform-origin: top;
    }

    @keyframes dropDown {
        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }
    
    .nav__menu li:nth-child(2){
        animation-delay: 300ms;
    }

    .nav__menu li:nth-child(3){
        animation-delay: 600ms;
    }

    .nav__menu li:nth-child(4){
        animation-delay: 900ms;
    }



    .nav__menu li a{
        display: block;
        background: var(--color-white);
        padding: 0.85rem 2.5rem;
    }
    
    .nav__toggle-btn{
        display: inline-block;
        background: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .posts__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .footer__categories{
        flex-direction: column;
    }
    
    .post-detail{
        width: 100%;
        background: transparent;
        padding: 0;
    }
    
    .post-detail h1{
        margin-top: 1rem;
    }
    
    .register, .login, .create-post{
        width: 100%;
    }

    .form.profile__from{
        margin-top: 2.5rem;
        width: 100%;
    }

    .authors__container{
        grid-template-columns: 1fr;
        gap: 1.2rem
    }

    .dashboard__post{
        flex-direction: column;
    }

    .dashboard__post-info{
        gap: 1.5rem
    }
    .dashboard__post-thumbnail{
        width: 5rem;
    }
}